
footer{
	background: #e1e1e1;
      bottom: 0;
    position: fixed;
    width: 100%;
	.footer-menu{
		text-align: center;
		li{
			list-style: none;
			display: inline-block;
			margin: 0 10px;
			color: #989898;
			opacity: 0.5;
			line-height: 55px; 
			a{
				color: #989898;
				font-family: 'ProximaNova-Light',arial; 
				font-weight: normal;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
			}
		}
	}
}