
@media (min-width: $screen-sm-min)

@media (min-width: $screen-md-min)
  body
    min-width: 300px
    background: #eeeeee

@media (min-width: $screen-lg-min)

@media (min-width: 1650px)
  .slider-menu .prevPage
    width: 97%

@media (max-width: 1280px)
  .slider-menu .frame ul.items li .media .video-info
    height: 61px
    overflow: hidden
    text-overflow: ellipsis
    word-wrap: break-word

@media (max-width: 980px)
  .nav-justified > li, .nav-tabs.nav-justified > li
    display: block
    width: auto


@media (max-width: 767px)
  .slider-menu .frame .items,.slider-menu .controls
    padding-right: 0
  .posted-date
    display: none
  .slider-menu .prevPage
    width: 100%
  h1, .h1
    font-size: 40px
  .content .main .info-video
    font-size: 18px

@media (max-width: 480px)
  footer .footer-menu li
    margin: 0 2px
